* {
  padding: 0; 
  margin: 0;
  user-select: none;
}

body, html {
  height: 100%;
}

.none {
  display: none;
  pointer-events: none;
}


#stats {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.5;

}